ul li{
    list-style: none;
    display: inline;
margin: 20px;
}
ul{
    background-color: purple;
}
h1{
    text-align: center;
    color: #000;
    background-color: yellow;
}
a{
    text-decoration: none;
color: chartreuse;
font-size: 60px;
}
form{
    text-align: center;
}
table,th,td{
    border: 0.4px solid rgb(94, 61, 61);
    border-collapse: collapse;
    
}
table{
    width: 600px;
}
button{
    padding: 10px;
    background-color: darkgreen;
    color: white;
}
body{
    background-color: rgb(77, 77, 109);
}
input{
    border-radius: 5px;
    width: 100px;
}